.details-modal {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);

  .modal-content {
    left: auto;
    transform-origin: center top;
    transform: translateX(0px) translateY(calc(24.3333px + 2em)) scaleX(1) scaleY(1) translateZ(0px);
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
    z-index: 2;
    opacity: 1;
    margin-bottom: 2em;
    > section {
      width: 100%;
    }
    @media (min-width: 1000px) and (max-width: 1600px) {
      height: 441px;
      width: 564px;
    }

    @media (min-width: 1600px) {
      height: 570px;
      width: 800px;
    }

    .img-container {
      border-top-left-radius: 6px;
      overflow: hidden;
      position: relative;
      background-color: #000;
      cursor: pointer;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      iframe {
        position: relative;
        border-radius: 10px;
      }
      button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        cursor: pointer;
        margin: 1em;
        font-size: 16px;
        color: white;
        background-color: #181818;
        padding: 10px 15px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .media-info {
      background-color: #181818;
      padding-left: 10px;
      position: relative;
      line-height: 2em;

      @media (min-width: 1500px) {
        p {
          padding-top: 25px;
          font-size: 27px;
          line-height: 1.7em;
        }
      }
      p {
        max-width: 50ch;
      }
      .play-btn-container {
        padding-right: 20px;
        a {
          border-width: 0;
          padding: 8px 20px;
          border-radius: 5px;
          max-width: 130px;
          font-weight: bold;
          font-size: 20px;
          margin-top: 10px;
          cursor: pointer;
          transition: background-color 0.5s ease;
          background-color: #ff1e1e;
          color: white;
          &:hover {
            background-color: #e6e6e6;
            color: #000;
          }
          @media (max-width: 1000px) {
            padding: 5px 20px;
            margin-top: 0px;
          }
          @media (min-width: 1500px) {
            font-size: 30px;
            padding: 10px 25px;
          }
        }
      }
      .details-add-btn {
        border: #5b5b5b 1.5px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        border-radius: 50%;
        background-color: inherit;
        display: none;
        color: white;
      }

      .general-media-info {
        padding-top: 10px;
        span {
          text-transform: capitalize;
        }
        :nth-child(5) {
          border: 1px solid white;
          padding: 5px;
        }
        @media (max-width: 1500px) {
          font-size: 16px;
        }
        @media (min-width: 1500px) {
          font-size: 35px;
        }
      }
    }
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .details-modal {
    .modal-content {
      margin: 5% auto;
    }
  }
}

@media (max-width: 1000px) {
  .details-modal {
    .img-container {
      height: 165px;
    }
    .modal-content {
      transform: translateX(1px) translateY(calc(37.3333px + 2em)) scaleX(1) scaleY(1) translateZ(-190px);
      margin: 10% auto;
      width: 264px;
      .media-info {
        padding-left: 9px;
        .details-add-btn {
          display: block;
        }
      }
    }
    .general {
      flex-wrap: wrap;
      padding: 5px;
    }
  }
}
