.sign-page {
    background-image: url("../../assets/img/logImg.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    overflow: hidden;
    scroll-behavior: auto;
    height: 100%;
    width: 100%;
    .logo-pages {
        padding: 30px;
        font-size: 38px;
        font-weight: bolder;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        min-height: 70%;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        margin: auto;
        width: 450px;
        padding: 30px 60px 68px 40px;
        margin: 29px auto 0px;
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            input {
                background: #fff;
                border-radius: 4px;
                border: 0;
                color: #000000;
                height: 50px;
                line-height: 50px;
                padding: 5px 20px;
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 30px;
                }
            }

            button {
                background: #e50914;
                border-radius: 4px;
                font-size: 16px;
                font-weight: bold;
                margin: 24px 0 12px;
                padding: 16px;
                border: 0;
                color: white;
                cursor: pointer;

                &:disabled {
                    opacity: 0.5;
                }
            }

            h1 {
                color: #fff;
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 28px;
            }
        }
        span {
            color: #737373;
            font-size: 16px;
            font-weight: 500;
            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        p {
            margin-top: 20px;
            font-size: 13px;
            line-height: normal;
            color: #8c8c8c;
        }
    }
}

@media (max-width: 1060px) {
    .sign-page {
        background: black;
    }
    .sign-page .form-container form button, input{
        max-width: 90% !important
        
    }
}
.btn-google-login {
    max-width: fit-content;
    padding: 8px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 2px;
    border: none;
    margin-bottom: 30px;
    background-color: none;
}

@media (min-width: 1400px) and (max-width: 3000px) {
    .sign-page {
        .logo-pages {
            padding: 50px;
            font-size: 58px;
        }
        .form-container {
            width: 550px;
            padding: 50px 60px 68px 40px;
            height: 600px;
            form {
                input {
                    height: 60px;
                    padding: 10px 27px;
                    margin-bottom: 20px;
                    font-size: 19px;
                    ::placeholder {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
.error-message{
    color: red !important;
}