* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: rem(12px);
  // font-family: netflix;
  color: #e5e5e5;
  font-weight: 400px;
  // line-height: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1rem;
  max-width: 60ch;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

// button:hover {
//   background-color: lightgrey;
// }

.fa.fa-circle {
  font-size: 5px;
  color: #5b5b5b;
  padding-left: 3px;
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

::placeholder {
  padding-left: 5px;
  font-size: 15px;
}
.is-active {
  font-weight: bolder;
}
